{% extends "::base.html.twig" %}

{% block title %}MAPS POI{% endblock %}

{% block body %}
<h1>Welcome to the Maps Poi</h1>
    <div id="MAPS" style="width: 600px; height: 450px; border: 1px solid black; background: gray;" class="centered-content">
        <!-- tu będzie mapa -->
    </div>

{% endblock %}
